.footer {

    height: 63px;
    background-color: #161616;
    margin-bottom: 1em;
}

.jwb_2019 { 

    color: #ADADAD; 
    margin: 0px;
    padding-top: 12px;
    padding-left: 12px;
    font-size: x-small; 
}
.jwb_container {

    display: flex;
}

.inner-footer {
    display: flex;
    padding-top: 5px;
}

.contact { 

    margin: 0;
    padding: 5px;
    padding-left: 14px;
    font-size: 14px; 
    color: white;
}