html {
    height: 100%;
  }




.article-item-container {
    max-width: 803px;
    margin: 0 auto!important;
    
}  


.main-container {
    height: 100%;
 /* display: flex; */
    margin: 0 auto; 
    width: 1206px;    
    max-width:100%;
    display: flex;
    background-color: #f2f2f2;
} 

.internal-container{

    padding-top: 6px;
    width: 100%;
}

.internal-blog-wrapper {
    /* width: 839px;  */    /*was 566px  */
   /* margin: 0 auto;*/
   padding-left:15px;
   display: flex; 
   justify-content: space-between;
   height: 100%;
   overflow: hidden;
   background-color: #f8f8f8;
}  




.internal-about {
    max-width: 76%;
    width: 72%;
    padding-left: 58px;
    background-color: #f8f8f8;
}



@media screen and (max-width: 936px) {
    .internal-blog-wrapper {
        width: auto;
};
} 


.sidebar {
    display: flex; 
    width: 226px;
    padding: 1px 22px 1px 14px;
    border-left: 2px solid black; 
    background-color: #d9d9d9;
    border-left:1px solid #c7c7c7;
}

aside.sidebar.expanded  {

    margin-right: 0px;
}

aside.sidebar.close {
    margin-right: -223px;
}




/* Styling for the arrow button thing when sidebar is closed   */
aside.sidebar.close .toggle-sidebar::after {
    content:"\00AB";
    background: inherit;
    padding-right: 4px;
    padding-bottom: 3px;
    padding-left: 2px;
    font-size: 33px;
    position: relative;
    left: 9px;
    font-size: 33px;


}




aside.sidebar.close app-sidebar.internal-main-sidebar {

    display: none;

}


aside.sidebar.close .toggle-sidebar {
    width: 52px;
}





.internal-main-sidebar {
    width: inherit;
    padding-top:20px;
    width: 226px;
}

.toggle-sidebar{
    top: -1px;
    bottom: 0px;
    width: 23px;
    position: relative;
    right: 15px; 
}

span.toggle-sidebar:hover{
    background-color:#e9e9e9;  
    cursor: pointer;
}

/* the little button thing to toggle sidebar  */
.toggle-sidebar::after{
    position: absolute; 
    top: 0px;
    background: #f8f8f8;
    content: "";
    display: inline-block;
    cursor: pointer;
    content: "\00BB";
    font-size: 33px;
    padding-right: 4px;
    padding-bottom: 3px; 
}  


.article-background{
    background-color: #f2f2f2;
}


@media screen and (max-width: 1203px) {

    aside.sidebar.close {
        margin-right:0px;
        width: 52px;
        padding-right:0px;
    }

}