mat-card-title {
  margin: auto 0;
}
mat-card-title img {
  margin-right: 1em;
}
mat-card-title a {
  text-decoration: none;
  color: black;
}
mat-card-title .summary {
  margin: 1em;
  font-size: 66%; 
}
.mat-card{
  box-shadow: none;
  background-color: #f8f8f8;
  height:100%;
} 

.summary{
  border-bottom: 1px dotted #ADADAD;
  padding-bottom: 18px;
  font-size: 3.75vw; 
}

