.main-container {
    height: 500px;
   /* border: 1px solid; */
    display: table;
    margin: 0 auto;
    /*max-width: 722px; */
}

.internal-wrapper {
   /* border: 1px solid red;*/
    display: table-cell;
    

}

.hello {
    text-align: center;
}

.comment {

    padding-top: 8px;
}

.comment-box {

    height: 203px;
    width: 425px;

}

.commenter-box {
    width: 205px;
    height: 22px;
}

.commenter-box.one {
    margin-right: 4px;
}

.comment-form-container {

    margin-right: auto;
    margin-left: auto;

}

.mat-raised-button {

    background-color: #F8F9F3;
  
} 