
<header class="headerContainer">
<nav class="nav-container">
  <ul class="nav-header item-container">
    <li class="nav-header_item">

      <a routerLink="/home" routerLinkActive="active" class="linky-logo    image linky2"style="text-decoration: none; display:block;">
        
       <!---- <img class= "linky-logo image" src="/assets/logo/logo.svg" style="display:block;"> -->

        <!--SVG EXPERIMENT START-->



      </a>
    </li>
    <li class="nav-header_item item-box">
        <a routerLink="/about" routerLinkActive="active" class="linky2"style="text-decoration: none;">About</a>
      </li>

      <li class="nav-header_item item-box">
          <a routerLink="/#" routerLinkActive="active" class="linky2"style="text-decoration: none;">Projects</a>
        </li>
  </ul>

</nav>
 
</header>

