
<header class="headerContainer">
<nav class="nav-container">
  <ul class="nav-header item-container">
    <li class="nav-header_item">
      <a routerLink="/home" routerLinkActive="active" class="linky-logo image"style="text-decoration: none; display:block;">
        <img class= "linky-logo image" src="/assets/logo/logo3.png" style="display:block;">
      </a>
    </li>
    <li class="nav-header_item">
        <a routerLink="/#" routerLinkActive="active" class="linky2"style="text-decoration: none;">About</a>
      </li>
  </ul>

</nav>
 
</header>

