.headerContainer {
    position: fixed; 
    top: 0;
    left: 0;
    right:0;
    background: #000000; /* was #111111*/
    color: grey;
    z-index: 1;
    padding: 0px;
    height: 63px; /* 83px  */
    overflow: hidden;
    
}

.nav-container{
    display: flex;
    height: inherit;

}

/* flex UL container */
.item-container {
    display: flex;
    align-items:center; 
    width: 523px;
    padding-left: 10px;
    min-height: 39px;
 
}

a {
    cursor: pointer;
} 

.links, .links a {
    padding: 10px;
    color: red;
   
   
   
}

.links a.active {
    /*background-color: rgb(128, 128, 128); */
    color: white;
}

ul {
    list-style: none;
}

.nav-header_item {
font-family: Teko,Oswald,sans-serif;
font-size: 15px;
padding: 0px 12px;
}

.nav-header_item a {
    color:#ADADAD;
}

.nav-header_item a:hover  {
    color: white;
}



/* Sets the active link to white */
a.linky2.active{
    color: white;
} 



/* Logooo */
 .linky-logo .image {
    
    padding: 0 27px;
    width: 66px;
    height: 36px; /* was 105px  */
    border: 1px solid red;
    
} 



.item-box .active{
    display: flex;
    height: 52px;
    align-items: center;
    border-bottom: 2px solid white;
}

#path0{
    fill: red;
}


svg, img {
    width: 103px;
    height: 105px;
    
    
}

svg, image:hover{
    fill: red;
}
