<div>

<p stle="padding-left: 4px; padding-right:6px;"> Hi, I'm Jared. I'm a QA engineer at PUBG Corp. Currently trying to find more ways to automate tasks and make testing easier.  I live in Saratoga Springs, NY. 

</p>

<div style="text-align:center;"> <img width="150" height="150" src="../assets/all/jb_blackandwhite.jpg"> </div>

<p>Check out this <a href="https://pubg-people.herokuapp.com/">thing</a> I just made pls. Work in progress but I'm having a lot of fun with it in my spare time. </p>

</div>


<!--Hi, I'm Jared. I'm a QA guy at PUBG Corp. Currently trying to find more ways to automate tasks and make testing easier.  I live in Saratoga Springs, NY. -->


<!--Hi, I'm Jared. I love learning about programming and video games. Oh, I also enjoy writing, reading, hiking, listening to podcasts, my dog Honey, listening to and failing to play music. Welcome to my humble blog.-->
