<div class="main-container" (scroll)="onWindowScroll($event);">
  <div class="internal-container">
       
    <div class="internal-blog-wrapper">
<app-article-item class="article-background"></app-article-item>
<aside class="sidebar" (click)="closeNav()"
[ngClass]="toggle ? 'close': 'expanded' "> <span class="toggle-sidebar"> </span> <app-sidebar class="internal-main-sidebar"></app-sidebar>  
</aside>  

</div> <!--Internal Blog Wrapper-->

    </div> <!--end internal-container-->
    </div>

   <app-footer></app-footer>



